<%- model_class = Club -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="row">
  <div class="span2">
    <%= image_tag @club.logo(:large), :class => "img-thumbnail" %>
  </div> 
  <div class="span7">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @club.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:war_cry) %>:</strong></dt>
      <dd><%= @club.war_cry %></dd>
      <dt><strong><%= model_class.human_attribute_name(:level) %>:</strong></dt>
      <dd><%= @club.level.level %></dd>
      <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
      <dd><%= @club.status %></dd>
      <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
      <dd><%= @club.city %></dd>
      <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
      <dd><%= @club.state %></dd>
      <dt><strong><%= model_class.human_attribute_name(:is_verified) %>:</strong></dt>
      <dd><%= @club.is_verified %></dd>
      <dt><strong><%= model_class.human_attribute_name(:is_registered) %>:</strong></dt>
      <dd><%= @club.is_registered %></dd>
      <dt><strong><%= model_class.human_attribute_name(:verification_date) %>:</strong></dt>
      <dd><%= @club.verification_date %></dd>
      <dt><strong><%= model_class.human_attribute_name(:registration_date) %>:</strong></dt>
      <dd><%= @club.registration_date %></dd>
    </dl>
  </div>
</div>

<div class="form-actions">
  <% if can? :manage, @club %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_club_path(@club), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                club_path(@club),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
    <%= link_to "Add Team",
              new_user_club_team_path(@club.user, @club), :class => 'btn btn-primary' %>
  <% else %>
    <% if current_user.is_player? %>
      <%= link_to "Join",
              new_user_club_team_path(@club.user, @club), :class => 'btn btn-success' %>
    <% end %>
  <% end %>
</div>
