<%- model_class = Profile -%>
<div class="page-header">
  <h1>Profile: <%= @profile.user.name %></h1>
</div>
<%= form_for @profile, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="row">
    <div class="span2">
      <div class="control-group">
        <%= f.label :avatar, image_tag(@profile.avatar.url(:medium), :class => "img-circle"), :class => 'control-label' %>
      </div>
    </div>
    <div class="span7">
      <%= render "shared/error_messages", :target => @profile %>  
      <div class="control-group">
        <%= f.label :avatar, "Profile Picture", :class => 'control-label' %>
        <div class="controls">
          <%= f.file_field :avatar %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :firstname, "First Name", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :firstname, :class => 'text_field', :required => true %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :lastname, "Last Name", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :lastname, :class => 'text_field', :required => true %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :dob, "Date of Birth", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :dob, :class => 'text_field', :required => true %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :street, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :street, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :country, "Country", :class => 'control-label' %>
        <div class="controls">
          <%= f.select :country_id, options_from_collection_for_select(Country.all, :id, :name, @profile.country.try(:id)), {:prompt => "Select State..."} %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :state, :class => 'control-label' %>
        <div class="controls">
          <%= render "shared/state_select", :parent_country => f.object.country %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :city, :class => 'control-label' %>
        <div class="controls">
          <%= render "shared/city_select", :parent_region => f.object.state %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :height, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :height, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :weight, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :weight, :class => 'text_field' %>
        </div>
      </div>

      <%= f.hidden_field :user_id, :class => 'text_field' %>
      
      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    profiles_path, :class => 'btn' %>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_include_tag "address" %>