<%- model_class = MatchType -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:max_over_batting) %></th>
      <th><%= model_class.human_attribute_name(:max_run_batting) %></th>
      <th><%= model_class.human_attribute_name(:max_over_bowling) %></th>
      <th><%= model_class.human_attribute_name(:innings) %></th>
      <th><%= model_class.human_attribute_name(:balls_per_over) %></th>
      <th><%= model_class.human_attribute_name(:rebowl_noball) %></th>
      <th><%= model_class.human_attribute_name(:noball_runs) %></th>
      <th><%= model_class.human_attribute_name(:dismiss_on_wicket) %></th>
      <th><%= model_class.human_attribute_name(:wicket_value) %></th>
      <th><%= model_class.human_attribute_name(:last_man_bat) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @match_types.each do |match_type| %>
      <tr>
        <td><%= link_to match_type.id, match_type_path(match_type) %></td>
        <td><%= match_type.name %></td>
        <td><%= match_type.max_over_batting %></td>
        <td><%= match_type.max_run_batting %></td>
        <td><%= match_type.max_over_bowling %></td>
        <td><%= match_type.innings %></td>
        <td><%= match_type.balls_per_over %></td>
        <td><%= match_type.rebowl_noball %></td>
        <td><%= match_type.noball_runs %></td>
        <td><%= match_type.dismiss_on_wicket %></td>
        <td><%= match_type.wicket_value %></td>
        <td><%= match_type.last_man_bat %></td>
        <td><%=l match_type.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_match_type_path(match_type), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      match_type_path(match_type),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_match_type_path,
            :class => 'btn btn-primary' %>
