<div class="form-group">
  <%= player.label :batting_hand, :class => 'control-label' %>
  <div class="controls">
    <%= player.text_field :batting_hand, :class => 'text_field' %>
  </div>
</div>
<div class="form-group">
  <%= player.label :bowling_hand, :class => 'control-label' %>
  <div class="controls">
    <%= player.text_field :bowling_hand, :class => 'text_field' %>
  </div>
</div>
<div class="form-group">
  <%= player.label :skill, :class => 'control-label' %>
  <div class="controls">
    <%= player.text_field :skill, :class => 'text_field' %>
  </div>
</div>
<div class="form-group">
  <%= player.label :batting_style, :class => 'control-label' %>
  <div class="controls">
    <%= player.text_field :batting_style, :class => 'text_field' %>
  </div>
</div>
<div class="form-group">
  <%= player.label :bowling_style, :class => 'control-label' %>
  <div class="controls">
    <%= player.text_field :bowling_style, :class => 'text_field' %>
  </div>
</div>
<div class="form-group">
  <%= player.label :is_wicketkeeper, :class => 'control-label' %>
  <div class="controls">
    <%= player.text_field :is_wicketkeeper, :class => 'text_field' %>
  </div>
</div>
<% if current_user.is_admin? || current_user.is_club_admin? %>
  <div class="form-group">
    <%= player.label :club_id, :class => 'control-label' %>
    <div class="controls">
      <%= player.select :club_id, options_for_select(Club.all.map { |club| [club.name, club.id] }, @player.club_id), { :prompt => 'Select Club ...'} %>
    </div>
  </div>
  <div class="form-group">
    <%= player.label :team_id, :class => 'control-label' %>
    <div class="controls">
      <%= player.select :team_id,
          (@player.team.present? ? options_for_select(@player.team.club.teams.map { |team| [team.name, team.id] }, @user.player.team_id) : []),
          { :prompt => 'Select Team ...'} %>
    </div>
  </div>
<% else %>
  <div class="form-group">
    <%= player.label :club_id, :class => 'control-label' %>
    <div class="controls">
      <%= @player.club.try(:name) || raw("<i>No club assigned yet</i>") %>&nbsp;
    </div>
  </div>
  <div class="form-group">
    <%= player.label :team_id, :class => 'control-label' %>
    <div class="controls">
      <%= @player.team.try(:name) || raw("<i>No team assigned yet</i>") %>&nbsp;
    </div>
  </div>
<% end %>