<%= form_for @organization, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render "shared/error_messages", :target => @organization %>  
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_active, :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :is_active, 1 %><%= label :organization_is_active, 1, "Yes" %>
      <%= f.radio_button :is_active, 0 %><%= label :organization_is_active, 0, "No" %>
    </div>
  </div>
  <%= f.hidden_field :user_id, :class => 'text_field', :value => current_user.id %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                organizations_path, :class => 'btn' %>
  </div>
<% end %>
