<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body>
    <%= render "shared/main_nav" %>

    <div class="container dropped-50">
        <div class="row">
          <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Quick links</li>
                <%= tabs_tag :builder => MenuTabBuilder, :namespace => :subnav do |tab| %>
                  <%= tab.clubs 'Manage Clubs', clubs_path %>
                  <%= tab.venues 'Manage Venues', venues_path %>
                  <%= tab.players 'Manage Players', "#" %>
                  <%= tab.officials 'Manage Officials', "#" %>
                  <%= tab.fixtures 'Manage Fixtures', "#" %>
                  <%= tab.match_types 'Manage Match Types', match_types_path %>
                <% end %>
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
          <div class="span9">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div><!--/row-->

     <%= render "shared/footer" %>
     <%= render "shared/datatable_lib" %> 
     <%= render "shared/calender_lib" %>

    </div> <!-- /container -->

  </body>
</html>
