<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body>
    <%= render "shared/main_nav" %>
    <div class="container dropped-50">
      <%= bootstrap_flash %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div> <!-- /container -->
  </body>
</html>
